* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono, Material Design Icons, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    padding: 0;
    margin: 0;
    background-color: #002b36;
    color: #839496;
}

window#waybar {
    border-bottom: 3px solid #839496;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: ${theme.colors.base.yellow};
}
*/

#workspaces {
    padding: 0;
    margin: 0;
}

#workspaces button {
    /* Use box-shadow instead of border so the text isn't offset */
    border-bottom: 3px solid #839496;
    padding: 0 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	color: inherit;
	border-bottom: 3px solid #eee8d5;
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
    border: inherit;
}

#workspaces button:hover * {
	color: inherit;
    background: inherit;
}


#workspaces button.focused {
    color: #dc322f;
    border-bottom: 3px solid #dc322f;
    background-color: #073642;
}

#workspaces button.focused * {
    color: #dc322f;
    background-color: #073642;
}

#workspaces button.urgent {
    background-color: #cb4b16;
    color: #002b36;
}

#clock {
    /* Use box-shadow instead of border so the text isn't offset */
    border-bottom: 3px solid #839496;
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-disk,
#custom-git,
#custom-sync,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    color: #839496;
}

#battery.charging, #battery.plugged {
    color: #859900;
}

@keyframes blink {
    to {
        background-color: #333333;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #dc322f;
    color: #eee8d5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: #839496;
}

#network.disconnected {
    background-color: #dc322f;
}

#pulseaudio {
    color: #839496;
}

#pulseaudio.muted {
    color: #839496;
}

#pulseaudio.bluetooth {
    color: #839496;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
